.container {
    min-width: 250px;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    margin: 0 auto; 
  }

    // 768+
    @media screen and (min-width: 768px){
      .container{
       width: 708px;
       padding-right: 24px;
       padding-left: 24px;
      }
    }
    // 1024+
    @media screen and (min-width: 1024px){
      .container{
      width: 964px;
      
      }
    }
    @media screen and (min-width: 1440px){
      .container{
        width: 1380px;
        }
    }