<section class="about">
    <div class="container about__position">
        <div>
        <h2 class="about__title">About me</h2>
        <p class="about__text">
            Simple guy.
            I create deep house music, write lyrics, play the guitar. Music is with me always and everywhere ...  
            I am inspired by feelings, people, the world around me and just special moments in life.
        </p>
    </div>
    <div class="about__right">
        <ul class="about__photo">
            <li class="photo-item">
                <img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="photo__img">
            </li>
            <li class="photo-item">
                <img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="photo__img">
            </li>
            <li class="photo-item">
                <img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="photo__img">
            </li>
            <li class="photo-item">
                <img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="photo__img">
            </li>
            <li class="photo-item">
                <img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="photo__img">
            </li>
        </ul>
    </div>
    </div>
</section>