<section class="backdrop">
    <div class="burger-menu">
        <div class="burger-menu__logo">
            <p class="burger-menu__logo-text">Tony_Naty</p>
        </div>
        <div class="burger-menu__position">
      <ul class="burger-menu__list">
        <li class="burger-menu__item">
            <a href="./index.html" class="burger-menu__link">Home         
                <!-- <svg class="burger-menu__link-ikon">
                <use href="./images/sprite.svg#home"></use>
                </svg> -->
            </a>
        </li>
        <li class="burger-menu__item">
            <a href="#services" class="burger-menu__link">Video
                <!-- <svg class="burger-menu__link-ikon">
                <use href="./images/sprite.svg#video"></use>
                </svg> -->
            </a>
        </li>
        <li class="burger-menu__item">
            <a href="#ourproject" class="burger-menu__link">About me
                <!-- <svg class="burger-menu__link-ikon">
                <use href="./images/sprite.svg#user"></use>
                </svg> -->
            </a>
        </li>
        <li class="burger-menu__item">
            <a href="#about" class="burger-menu__link">Music
                <!-- <svg class="burger-menu__link-ikon">
                <use href="./images/sprite.svg#music"></use>
                </svg> -->
            </a>
        </li>
      </ul>
      <ul class="burger-menu__contacts">
        <li class="burger-menu__contacts-item">
            <a href="tel:+380630606619" class="burger-menu__contacts-link">380630606619</a>
        </li>
        <li class="burger-menu__contacts-item">
            <a href="mailto:nataliakal4enko@gmail.com" class="burger-menu__contacts-link">nataliakal4enko@gmail.com</a>
        </li>
      </ul>
      <ul class="burger-menu__social-list">
        <li class="burger-menu__social-item">
            <a class="burger-menu__social-link"
            href="https://music.apple.com/us/artist/tony-naty/1526482583/see-all?section=top-songs"
            target="_blank"
            rel="noopener noreferrer">Instagram</a>
        </li>
        <li class="burger-menu__social-item">
            <a  class="burger-menu__social-link"
            href="https://www.reverbnation.com/tonynaty"target="_blank"
            rel="noopener noreferrer">Reverbnation</a>
        </li>
        <li class="burger-menu__social-item">
            <a  class="burger-menu__social-link"
            href="https://open.spotify.com/artist/6nasf2pJl31jilAflqvsX0?si=lKQr-1DbQG-m0esiI28daA&nd=1"
            target="_blank"
            rel="noopener noreferrer">Spotify</a>
        </li>
        <li class="burger-menu__social-item">
            <a  class="burger-menu__social-link"
            href="https://www.youtube.com/channel/UC4vllCH7ssAaMi545ERfGpQ"
            target="_blank"
            rel="noopener noreferrer">Youtube</a>
        </li>
        <li class="burger-menu__social-item">
            <a  class="burger-menu__social-link"
            href="https://music.apple.com/us/artist/tony-naty/1526482583/see-all?section=top-songs"
            target="_blank"
            rel="noopener noreferrer">Music Apple</a>
        </li>
        <li class="burger-menu__social-item">
            <a  class="burger-menu__social-link"
            href="https://soundcloud.com/tony-naty/tracks"
            target="_blank"
            rel="noopener noreferrer">Soundcloud</a>
        </li>
      </ul>
    </div>
    </div>
</section>