<section class="footer">
    <div class="container">
        <a href="./index.html" class="footer__logo">
        <img src="./images/logo.png" alt="logo" class="footer__logo-img"><span class="footer__logo-title">Enver</span></a>
        <ul class="footer__list">
            <li class="footer__item">Support</li>
            <li class="footer__item">Privacy Policy</li>
            <li class="footer__item">Terms and Conditions</li>
            <li class="footer__item">© 2020 Enver, All right reserved</li>

        </ul>
    </div>
</section>