<section class="header">
    <div class="container">
      <nav class="header__nav">
        <a href="./index.html" class="logo">
          <img src="./images/logo.png" alt="logo" class="logo__img"><span class="logo__title">Enver</span></a>
          <ul class="header__nav-list">
            <li class="header__nav-item"><a href="./index.html" class="header__nav-link">Home</a></li>
            <li class="header__nav-item"><a href="#services" class="header__nav-link">Services</a></li>
            <li class="header__nav-item"><a href="#ourproject" class="header__nav-link">Our Project</a></li>
            <li class="header__nav-item"><a href="#about" class="header__nav-link">About us</a></li>
          </ul>
          <div class="burger">
            <svg class="burger__ikon" width="10" height="16">
                <use href="./images/sprite.svg#burger"></use>
            </svg>
          </div>
          <div class="header__btn">
            <button class="header__btn-contact">Contact us</button>
          </div>
        </nav>
    </div>
</section>