<section class="hero">
    <div class="container">
        <div>
    <h1 class="hero__title">Build Your Awesome Platform</h1>
    <p class="hero__description">Enver studio is a digital studio that offers several services such as 
        UI/UX Design to developers, 
        we will provide the best service for those of you who use our services.</p>
    <button class="hero__btn">
       <span class="hero__btn-title">Our Services</span> 
        <svg class="hero__btn-ikon">
            <use href="./images/sprite.svg#arrow-right-up"></use>
        </svg>
    </button>
    </div>
    <div>
        <img src="./images/photogroup.png" alt="my photo" class="hero__img">
    </div>
    </div>
</section>