<section class="hero">
    <div class="container">
        <div class="hero__position">
        <div class="hero__left">
    <h1 class="hero__title">Hi! I`m Tony_Naty</h1>
    <p class="hero__description">Aspiring musician, performer
        who wants to share his creativity and is looking for
        those who want to develop their talents with me.</p>
    <button class="hero__btn">
       <span class="hero__btn-title">Our Services</span> 
        <svg class="hero__btn-ikon">
            <use href="./images/sprite.svg#arrow-right-up"></use>
        </svg>
    </button>
    </div>
    <div class="hero__right">
        <img src="./images/photogroup.png" alt="my photo" class="hero__img">
    </div>
</div>
    </div>
</section>