<section class="media">
    <div class="container">
        <h2 class="media__title">The Service We Provide For You</h2>
        <ul class="media__list">
            <li class="media__item">
                <svg class="media__item-ikon">
                <use href="./images/sprite.svg#arrow-right-up"></use>
                </svg>
                <h3 class="media__item-title">Development</h3>
                <p class="media__item-description">Create a platform with the best and coolest quality from us.</p>
            </li>
            <li class="media__item">
                <svg class="media__item-ikon">
                <use href="./images/sprite.svg#arrow-right-up"></use>
                </svg>
                <h3 class="media__item-title">UI/UX Designer</h3>
                <p class="media__item-description">We provide UI/UX Design services, and of course with the best quality</p>
            </li>
            <li class="media__item">
                <svg class="media__item-ikon">
                <use href="./images/sprite.svg#arrow-right-up"></use>
                </svg>
                <h3 class="media__item-title">Graphik Designer</h3>
                <p class="media__item-description">We provide Graphic Design services, with the best designers</p>
            </li>
            <li class="media__item">
                <svg class="media__item-ikon">
                <use href="./images/sprite.svg#arrow-right-up"></use>
                </svg>
                <h3 class="media__item-title">Motion Graphik</h3>
                <p class="media__item-description">Create a platform with the best and coolest quality from us.</p>
            </li>
            <li class="media__item">
                <svg class="media__item-ikon">
                <use href="./images/sprite.svg#arrow-right-up"></use>
                </svg>
                <h3 class="media__item-title">Photography</h3>
                <p class="media__item-description">We provide Photography services, and of course with the best quality</p>
            </li>
            <li class="media__item">
                <svg class="media__item-ikon">
                <use href="./images/sprite.svg#arrow-right-up"></use>
                </svg>
                <h3 class="media__item-title">Videography</h3>
                <p class="media__item-description">Create a platform with the best and coolest quality from us.</p>
            </li>
        </ul>
    </div>
</section>