<section class="photo">
    <div class="container">
        <div class="photo-position">
            <div>
<ul class="photo-list-one">
    <li class="photo-item">
        <img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="first">
    </li>
    <li class="photo-item">
        <img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="three">
    </li>
</ul>
</div>
<div class="photo-position-list">
<img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="too">
<ul class="photo-list-too">
    <li class="photo-item">
        <img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="foure">
    </li>
    <li class="photo-item">
        <img src="./images/logan-weaver-lgnwvr-4MheNIUPxRc-unsplash.jpg" alt="" class="five">
    </li>
</ul>
</div>
</div>
    </div>
</section> 