<section class="social">
    <div class="container">
        <ul class="social-list">
            <li class="social-item">
                <a class="social-link"
                href="https://music.apple.com/us/artist/tony-naty/1526482583/see-all?section=top-songs"
                target="_blank"
                rel="noopener noreferrer">Instagram</a>
            </li>
            <li class="social-item">
                <a  class="social-link"
                href="https://www.reverbnation.com/tonynaty"target="_blank"
                rel="noopener noreferrer">Reverbnation</a>
            </li>
            <li class="social-item">
                <a  class="social-link"
                href="https://open.spotify.com/artist/6nasf2pJl31jilAflqvsX0?si=lKQr-1DbQG-m0esiI28daA&nd=1"
                target="_blank"
                rel="noopener noreferrer">Spotify</a>
            </li>
            <li class="social-item">
                <a  class="social-link"
                href="https://www.youtube.com/channel/UC4vllCH7ssAaMi545ERfGpQ"
                target="_blank"
                rel="noopener noreferrer">Youtube</a>
            </li>
            <li class="social-item">
                <a  class="social-link"
                href="https://music.apple.com/us/artist/tony-naty/1526482583/see-all?section=top-songs"
                target="_blank"
                rel="noopener noreferrer">Music Apple</a>
            </li>
            <li class="social-item">
                <a  class="social-link"
                href="https://soundcloud.com/tony-naty/tracks"
                target="_blank"
                rel="noopener noreferrer">Soundcloud</a>
            </li>
          </ul>
    </div>
</section>