<section class="video">
    <div class="container">
        <h2 class="video__title">Why Enver Is The Best Choice?</h2>
        <p class="video__description">Watch this one minute video so you 
            understand why you should use our services!</p>
            <iframe class="video__iframe"
             src="https://www.youtube.com/embed/Z93-slrtq9Y"
             title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    </div>
</section>