.about{
    background-color: bisque;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.about__title{
    margin-bottom: 36px;
    font-weight: 700;
font-size: 36px;
// line-height: 39px;
}
.about__text{
    margin: 0 auto;
    max-width: 400px;
    font-weight: 400;
font-size: 22px;
line-height: 1.5;
}
.about__photo{
    margin-top: 50px;
    display: flex;
    align-items: center;
    overflow: auto;
}
.photo-item{
    width: max-content;
    height: max-content;
    &:not(:last-child){
        margin-right: 20px;
    }
}
.photo__img{
    width: 250px;
    height: 300px;
}

@media screen and (min-width: 768px){
.about{
    text-align: left;
}
.about__position{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__right{
    width: 380px;
}
    .photo__img{
        width: 330px;
        height: 450px;
    }
}

@media screen and (min-width: 1024px){
    .about__right{
        width: 500px;
    }
    .about__position{
        justify-content: space-around;
    }
}