.burger-menu{
    padding: 15vh 10vw;
    
    text-align: right;
    
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
        
        width: 100vw;
        height: 100vh;
        background: #212121;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        
        overflow: auto;
             
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.burger-menu__position{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
}


.burger-menu__logo{
    position: absolute;
    top: 5vh;
    left: 40%;
}
.burger-menu__logo-text{
    font-style: italic;
    color: #ffffff;
}

// .burger-menu__list{

// }
.burger-menu__item{
&:not(:last-child){
    margin-bottom: 24px;
}
}
.burger-menu__link{
    font-size: 20px;
    font-style: normal;
    color: #ffffff;
}
.burger-menu__link-ikon{
    fill: transparent;
    stroke: #ffffff;
    width: 14px;
    height: 14px;
}
// .burger-menu__contacts{
   
// }
.burger-menu__contacts-item{
    &:not(:last-child){
        margin-bottom: 15px;
    }
}
.burger-menu__contacts-link{
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
}
.burger-menu__social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
}

.burger-menu__social-item{
    width: 100px;
    // height: 80px;
   
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    

}
.burger-menu__social-link{
    font-size: 16px;
    font-style: normal;
    color: #ffffff;
}