.contacts{
    background-color: darkslategray;
    padding-top: 70px;
    padding-bottom: 140px;
}
.contacts__title{
    margin-bottom: 50px;
    font-weight: 700;
font-size: 36px;
line-height: 150%;
color: #FFFFFF;
}
.contacts__btn{
    padding: 12px 34px;
    border: none;
    border-radius: 4px;
    background-color: #5454D4;
    font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}

@media screen and (min-width: 768px){
    .contacts{
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .contacts__position{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .contacts__title{
        margin-bottom: 0;
        max-width: 400px;
        font-weight: 700;
        font-size: 36px;
        // line-height: 66px;
    }
    .contacts__btn{
        padding: 12px 38px; 
        font-size: 18px;
        // line-height: 29px;
    }
}

@media screen and (min-width: 1440px){
    .contacts{
        padding-top: 117px;
        padding-bottom: 117px;
    }
    .contacts__title{
        max-width: 826px;
        font-weight: 700;
        font-size: 60px;
        line-height: 66px;
    }
    .contacts__btn{
        padding: 16px 42px; 
        font-size: 21px;
        line-height: 29px;
    }
}