.contacts{
    padding-top: 70px;
    padding-bottom: 140px;
}
.contacts__title{
    margin-bottom: 50px;
    font-weight: 700;
font-size: 36px;
line-height: 150%;
color: #FFFFFF;
}
.contacts__btn{
    padding: 12px 34px;
    border: none;
    background-color: #5454D4;
    font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
}