.footer{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
.footer__logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
align-items: center;
justify-content: center;
// font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;

color: #FFFFFF;
}
.footer__logo-img{
    margin-right: 10px;
}
.footer__list{
    margin-bottom: 40px;
}
.footer__item{
    font-weight: 700;
font-size: 18px;
line-height: 28px;
color: rgba(255, 255, 255, 0.7);
&:not(:last-child){
    margin-bottom: 40px;
}
}
.footer__property{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px){
    .footer__position{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .footer__logo{
        margin: 0;
    }
    .footer__list{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__item{
        font-weight: 700;
       font-size: 14px;
    //    line-height: 25px;
    
    &:not(:last-child){
        margin-bottom: 0;
        margin-right: 24px;
    }
    }
}

@media screen and (min-width: 1440px){
    .footer{
        padding-top: 100px;
        padding-bottom: 108px;
    }
    
    .footer__item{
        font-weight: 700;
       font-size: 18px;
       line-height: 25px;
    
    &:not(:last-child){
        margin-right: 40px;
    }
    }
}