.footer{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
.footer__logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
align-items: center;
justify-content: center;
// font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 34px;

color: #FFFFFF;
}
.footer__logo-img{
    margin-right: 10px;
}
.footer__item{
    font-weight: 700;
font-size: 18px;
line-height: 28px;
color: rgba(255, 255, 255, 0.7);
&:not(:last-child){
    margin-bottom: 40px;
}
}