.photo{
    background-color: rgb(19, 31, 39);
    padding-top: 120px;
    padding-bottom: 120px;
}

.photo-position{
    display: flex;
    justify-content: center;
}
.photo-item{
    width: max-content;
        height: max-content;
}
.photo-list-too{
    display: flex;
}
.photo-list-one{
    margin-right: 30px;
}
    // .media__list{
    //     display: flex;
    //     justify-content: center;
    //     flex-wrap: wrap;
    //     // margin-top: -30px;
    //     // margin-left: -30px;
    // }
    // .media__item{
    //     margin: 0;
    //     // margin-top: 30px;
    //     // margin-left: 30px;
    //     width: max-content;
    //     height: max-content;
    // }

.first{
    width: 500px;
    height: 700px;
    margin-bottom: 25px;
}
.too{
    width: 700px;
    height: 500px;
    margin-bottom: 30px;
}
.three{
    width: 500px;
    height: 230px;
}
.foure{
    width: 335px;
    height: 430px;
    margin-right: 30px;
}
.five{
    width: 335px;
    height: 430px;
}